/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

/* Header */
header {
    width: 100%;
    background-color: #78a8fc; 
    color: white;
    padding: 15px 40px;
    margin-bottom: 40px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.8em;
    font-weight: bold;
}

/* Navigační menu*/
.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #3351fe;
}

/* Formulář */
form.form {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(66, 129, 163, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

form.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form.form input {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Tlačítko uložit */
form.form button {
    background-color: #33a5f6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

form.form button:hover {
    background-color: #8ac7f3;
}

/* Chyby */
ul {
    list-style: none;
    margin-bottom: 15px;
}

ul li {
    color: red;
    margin-bottom: 5px;
}

/* Tabulka pojištěnců */
table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #8fb8ff; 
    color: white;
}

/* Sudé řádky tabulky */
table tr:nth-child(even) {
    background-color: white;
}

/* Liché řádky tabulky */
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Nadpis */
h1 {
    margin-bottom: 15px;
    text-align: center;
    color: #3d3d3dec;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
